APP_ENV=development
APP_PORT=8787
CHECKOUT_MOCK_MODE=true
CORS_ORIGINS=http://127.0.0.1:8081,http://localhost:8081

MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PUBLIC_KEY=

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=

CHECKOUT_SUCCESS_URL=https://seusitemedico.com.br/obrigado
CHECKOUT_FAILURE_URL=https://seusitemedico.com.br/checkout
